<div class="layout-header">
  <p-menubar [model]="menuItems">
    <ng-template pTemplate="start">
      <img src="../../../assets/images/logo2.png" routerLink="/es-Es/home" class="brand-logo">
    </ng-template>
    <ng-template pTemplate="item" let-item let-root="root">
      <a pRipple class="flex align-items-center p-menuitem-link">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
      </a>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="menu-actions">
        <tienda-search-bar class="desktop-search"/>
        @if (!usuario()) {
          <div class="auth-actions">
            <div>
              <a routerLink="/auth/login" class="p-button font-bold">
                Login
              </a>
            </div>
            <div>
              <a routerLink="/auth/registro" class="p-button font-bold">
                Registro
              </a>
            </div>
          </div>
        }@else{
          <div class="user-profile" routerLink="/cliente/panel-cliente">
            @if(usuario()?.avatar === ''){
              <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
              icon="pi pi-user"
              size="normal"
              [style]="{ 'background-color': '#2b2b2b', color: '#ffffff' }"
              shape="circle"></p-avatar>
            }@else {
              <p-avatar [image]="usuario()?.avatar"
              size="normal"
              shape="circle"></p-avatar>
            }
            <span>{{usuario()?.nombre}}</span>
          </div>
          <p-button class="logout-button" icon="pi pi-sign-out" [text]="true" (click)="logout()" [plain]="true"></p-button>
        }
      </div>
    </ng-template>
  </p-menubar>
  <div class="mobile-search">
    <tienda-search-bar/>
  </div>
</div>
<router-outlet></router-outlet>
<footer class="footer">
  <p>Todos los derechos reservados &copy;RealG</p>
  <div class="social-icons">
    <span><a href="https://www.linkedin.com/in/jeremie-klose-chiclote-alva-043048224/" class="pi pi-linkedin" style="font-size: 2rem;color: rgb(242, 240, 243)"></a></span>
    <span><a href="https://github.com/JhayAlva" class="pi pi-github" style="font-size: 2rem;color: rgb(242, 240, 243)"></a></span>
    <span><a href="https://smallpdf.com/es/file#s=86dab921-06e6-4e52-858e-3f14e84f96ae" download="CV-JeremieKlose-DAW.pdf" class="pi pi-file-pdf" style="font-size: 2rem;color: rgb(242, 240, 243)"></a></span>
  </div>
</footer>


