/* General Styles */
.blog-front-page__content {
  padding-top: 55px;
}

section {
  display: block;
}

.fp-module {
  position: relative;
  z-index: 1000;
}

.fp-module__awbi-container {
  padding: 111px 0 125px;
  background: transparent;
}

.fp-module__awbi-triangles {
  display: block;
  margin: 0 46px 0 0;
  width: 25px;
  position: absolute;
  bottom: calc(92% - 162px);
  right: 0;
}

.fp-module__awbi-triangles img {
  width: 100%;
  height: auto;
  display: block;
}

img {
  border-style: none;
}

.fp-module__awbi-text.medium p {
  margin: 0;
}

.fp-module__awbi-text.medium {
  font-size: 9.375rem;
  letter-spacing: -0.3405rem;
  margin-bottom: 20px;
}

.fp-module__awbi-text {
  padding: 30px 0 0 0;
  line-height: 1;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0px;
  background: transparent;
  -webkit-text-stroke-width: 1px;
  color: transparent;
}

.fp-module__awbi-text p:nth-of-type(1) {
  opacity: 1;
}

.fp-module__awbi-text p:nth-of-type(2) {
  opacity: 0.6;
}

.fp-module__awbi-text p:nth-of-type(3) {
  opacity: 0.4;
}

.fp-module__awbi-text p:nth-of-type(4) {
  opacity: 0.2;
}

.container {
  max-width: 1295px;
  margin: 0 auto;
  width: 94%;
  position: relative;
}

.fp-module__awbi-block {
  display: flex;
  align-items: flex-start;
  max-width: 1245px;
  margin: 0 0 0 auto;
}

.fp-module__awbi-image {
  width: 100%;
  max-width: 650px;
  margin: 60px 0 0 -100px;
  position: relative;
  z-index: 2;
}

.fp-module__awbi-image-placeholder {
  width: 100%;
  height: 0;
  padding-top: 90.90%;
  position: relative;
  right: -25%;
}

.img-bgk {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center center;
}

.fp-module__awbi-content {
  flex: 0;
}

.fp-module__awbi-content-text {
  background: #fff;
  padding: 40px 25px 75px 70px;
  position: relative;
  right: -100px;
  z-index: 1;
}

.fp-module .headline--1 {
  text-transform: uppercase;
  font-size: 3.45rem;
  font-family: "Gestura Reg";
  letter-spacing: -0.04rem;
}

.article-excerpt {
  margin: 30px 0 0 0;
}

/* Custom Sections */
section .container-2 {
  background-color: #f8f8f8;
}

.custom-section {
  margin-top: 50px;
  padding: 20px;
}

.custom-section__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Permite que el contenido se ajuste en pantallas pequeñas */
}

.custom-section__image {
  flex-basis: 40%;
  margin-bottom: 20px; /* Espacio inferior para pantallas pequeñas */
}

.custom-section__image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.custom-section__text {
  flex-basis: 50%;
}

.custom-section__text h3 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: "SuisseIntl-Bold", sans-serif !important;
}

.section-excerpt {
  font-size: 16px;
  font-family: "SuisseIntl-Bold", sans-serif !important;
}

section .container-3 {
  background-color: #d5e7ef;
}

.container-3 .custom-section {
  margin-top: 50px;
  padding: 20px;
}

.container-3 .custom-section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-3 .custom-section__text {
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.container-3 .custom-section__text h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: black;
  font-family: "SuisseIntl-Bold", sans-serif !important;
}

/* Product Section */
.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-item {
  flex-basis: calc(28% - 20px);
  box-sizing: border-box;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 90%;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.product-image img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.product-details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.product-name {
  font-family: "SuisseIntl-Regular", sans-serif;
  line-height: 1.4;
  color: #333;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.product-description {
  font-size: 0.8rem;
  color: gray;
  margin: 5px 0;
}

.product-price {
  margin: 0;
  font-family: "SuisseIntl-Regular", sans-serif;
  color: #000000;
  font-size: 1.1rem;
  font-weight: 700;
}

/* Media Queries */
@media (max-width: 1024px) {
  .fp-module__awbi-block {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .fp-module__awbi-image {
    margin: 0 auto;
    max-width: 80%;
  }

  .fp-module__awbi-content-text {
    padding: 20px;
    max-width: 90%;
    right: 0;
  }

  .fp-module .headline--1 {
    font-size: 2.5rem;
  }

  .custom-section__content {
    flex-direction: column;
    text-align: center;
  }

  .custom-section__text, .custom-section__image {
    flex-basis: 100%;
  }

  .container-3 .custom-section__text {
    max-width: 100%;
  }

  .product-item {
    flex-basis: calc(50% - 20px); /* Dos columnas en pantallas medianas */
  }
}

@media (max-width: 768px) {
  .fp-module__awbi-text.medium {
    font-size: 6rem;
  }

  .fp-module__awbi-content-text {
    padding: 20px;
  }

  .fp-module .headline--1 {
    font-size: 2rem;
  }

  .product-item {
    flex-basis: calc(100% - 20px); /* Una columna en pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .fp-module__awbi-text.medium {
    font-size: 4rem;
    -webkit-text-stroke-width: 0.5px;
  }

  .custom-section__text h3 {
    font-size: 20px;
  }

  .section-excerpt {
    font-size: 14px;
  }

  .fp-module__awbi-content-text {
    padding: 15px;
  }
}
