<div class="carousel-container">
  <div #carousel class="carousel">
    <div class="carousel-cell">
      <img src="../../../../assets/images/carousel1.jpg">
    </div>
    <div class="carousel-cell">
      <img src="../../../../assets/images/carousel2.jpeg">
    </div>
    <div class="carousel-cell">
      <img src="../../../../assets/images/carousel3.jpeg">
    </div>
    <div class="carousel-cell">
      <img src="../../../../assets/images/carousel4.jpeg">
    </div>
    <div class="carousel-cell" [routerLink]="['/es-Es/mostrar-producto/64d28eb90ce6976a483a7f43']">
      <img src="../../../../assets/images/carrusel5.jpg">
    </div>
  </div>
</div>
