.carousel-container {
  max-width: 100%;
  aspect-ratio: 3.05 / 1;
  max-height: 520px;
  margin: 0 auto;
  overflow: hidden;
  background: #1d1d1d;
}

.carousel {
  width: 100%;
  height: 100%;
}

.carousel-cell {
  width: 100%;
  height: 100%;
}

.carousel-cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media only screen and (max-width: 1024px) {
  .carousel-container {
    aspect-ratio: 3 / 1;
  }
}

@media only screen and (max-width: 768px) {
  .carousel-container {
    aspect-ratio: 2.9 / 1;
  }

  .carousel-cell img {
    object-fit: cover;
    object-position: center;
  }

  ::ng-deep .flickity-prev-next-button {
    font-size: 14px !important;
    width: 25px !important;
    height: 25px !important;
  }
}
