<div class="content p-flex-1">
  <section class="p-d-flex p-jc-center p-ai-center p-mb-4">
    <div class="p-card p-p-3">
      <tienda-carousel/>
    </div>
  </section>
  <section class="p-d-flex p-jc-center p-ai-center p-mb-4">
    <div class="p-card p-p-3">
      <tienda-carousel-productos/>
    </div>
  </section>
  <section class="p-d-flex p-jc-center p-ai-center p-mb-4">
    <div class="p-card p-p-3">
      <h1>Marcas Populares</h1>
      <div class="horizontal-scroll">
        <div class="item">
          <img src="../../../../assets/images/jordansneakers.webp" alt="Jordan Sneakers" [routerLink]="['/es-Es/productos','1-1']">
        </div>
        <div class="item">
          <img src="../../../../assets/images/suprememay.webp" alt="Supreme May" [routerLink]="['/es-Es/productos','2-1']">
        </div>
        <div class="item">
          <img src="../../../../assets/images/louismay.webp" alt="Louis May">
        </div>
        <div class="item">
          <img src="../../../../assets/images/ps5may.webp" alt="PS5 May" [routerLink]="['/es-Es/productos','5-1']">
        </div>
      </div>
    </div>
  </section>
  <br>
  <section class="p-d-flex p-jc-center p-ai-center p-mb-4">
    <div class="p-card p-p-3">
      <div class="image-section">
        <div class="image-container">
          <img src="../../../../assets/images/FathersDay_Shop_SecondaryA.webp" alt="">
        </div>
        <div class="image-container">
          <img src="../../../../assets/images/Sun_Day_Red-Tiger_Woods-BannersSecondaryA_copy.webp" alt="">
        </div>
      </div>
    </div>
  </section>
</div>
