<div class="fadein animation-duration-1000 container flex flex-wrap">
  <div class="col-12 md:col-5 mt-4 text-center" routerLink="/es-Es/home" style="cursor: pointer;">
    <img src="../../../../assets/images/logo-realg.png" width="400" class="img-responsive" />
  </div>
  <hr class="vertical-hr hidden-sm">
  <div class="col-12 md:col-6 mr-4">
    <h1>Login</h1>
    <form [formGroup]="formLogin" (ngSubmit)="login()">
      <div class="card flex justify-content-center mt-5">
        <p-floatLabel>
          <input pInputText formControlName="email" id="email"/>
          <label for="email">Email</label>
        </p-floatLabel>
      </div>
      <div class="card flex justify-content-center mt-5">
        <p-floatLabel>
          <p-password formControlName="password" [toggleMask]="true" [feedback]="false"/>
          <label for="password">Contraseña</label>
        </p-floatLabel>
      </div>
      <div class="card flex justify-content-center mt-5">
        <p-button type="submit" label="Iniciar Sesion" />
      </div>
      <div class="card flex justify-content-center mt-2">
        <p>¿Aun no tienes una cuenta? <a routerLink="/auth/registro">Registrate</a></p>
      </div>
    </form>
  </div>
</div>


