.container {
  border: 1px solid white;
  border-radius: 2px;
  padding: 1rem;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

/* Imagen responsiva */
.responsive-image {
  max-width: 100%; /* Se ajusta al contenedor */
  height: auto;    /* Mantiene la proporción */
  object-fit: contain; /* Asegura que no se deforme */
}

.vertical-line {
  border-left: 2px solid #ccc;
  height: 100%;
  margin: auto;
}

.hidden-sm {
  display: none;
}

@media (min-width: 768px) {
  .hidden-sm {
    display: block;
  }
  .container {
    flex-wrap: nowrap;
  }
}

::ng-deep .p-inputtext {
  width: 100%;
  max-width: 250px;
}

a {
  color: rgb(201, 198, 198);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Espaciado y alineación en pantallas pequeñas */
@media (max-width: 767px) {
  h1 {
    text-align: center;
    font-size: 1.5rem;
  }

  .card {
    width: 100%;
    justify-content: center;
  }

  .vertical-line {
    display: none;
  }

  .img-responsive {
    max-width: 80%;
    margin: 0 auto;
  }
}

/* Ajustes adicionales para pantallas pequeñas */
@media (max-width: 767px) {
  .responsive-image {
    max-width: 80%; /* Reduce un poco el tamaño */
  }
}

/* Ajustes para pantallas grandes */
@media (min-width: 768px) {
  .responsive-image {
    max-width: 250px; /* Limita el tamaño máximo */
  }
}
