<section class="auth-pg__hero hero-block hero-block--v3">
  <div class="container">
   <div class="hero-block__content">
     <div class="hero-block__content-info" style="color: black;">
       <h2 class="headline headline--1 hero-block__content-headline">
         Cada artículo está verificado por RealG4
       </h2>
       <p class="hero-block__content-description">
         Compre en RealG4 con confianza sabiendo que cada compra está verificada por RealG4.
       </p>
       <p class="hero-block__content-description">
         RealG4 Verified es nuestra propia designación y no está respaldada por ninguna marca vendida en RealG4.
       </p>
     </div>
     <div class="hero-block__content-media">
       <div class="hero-block__content-img">
         <div class="hero-block__content-video">
           <div class="hero-block__content-video-img" style="background-image: url('../../../../assets/images/verificacion.avif')"></div>
         </div>
       </div>
     </div>
   </div>
  </div>
</section>
<br><br><br><br><br>
<section id="important-details" class="two-column-section">
 <div class="column left-column">
   <h1>Confía en el proceso</h1>
   <p>Nuestro equipo global de expertos utiliza un riguroso proceso de verificación de varios pasos.</p>
   <div class="image-with-text">
     <img src="../../../../assets/images/logoAutenticacion.png" width="90px">
     <div class="text-container">
         <h3>Condición</h3>
         <p>Solo permitimos existencias muertas en nuestro mercado. Eso significa que todos los artículos, excepto relojes y productos electrónicos reacondicionados, comprados o vendidos deben ser nuevos y nunca usados.</p>
     </div>
   </div>
   <div class="image-with-text">
     <img src="../../../../assets/images/embalaje.png" width="90px">
     <div class="text-container">
         <h3>Embalaje</h3>
         <p>Tan importante como el producto en sí, nuestro equipo garantiza que el embalaje cumpla con los más altos estándares de calidad para entregar un producto nuevo.</p>
     </div>
   </div>
   <div class="image-with-text">
     <img src="../../../../assets/images/accessorios.png" width="90px">
     <div class="text-container">
         <h3>Accesorios</h3>
         <p>Desde la lista completa de accesorios hasta todos los complementos adicionales, tenga la seguridad de que su compra en StockX coincidirá con cualquier experiencia de compra minorista.</p>
     </div>
   </div>
   <img src="../../../../assets/images/zapas.png" width="70%"/>
 </div>
 <div class="column right-column">
     <img src="../../../../assets/images/Data-Center-519A7408-2795-crop-1000x800.avif" width="70%">
     <div class="image-with-text">
     <img src="../../../../assets/images/cerebro.png" width="90px">
     <div class="text-container">
         <h3>Experiencia y datos</h3>
         <p>No hay sustituto para la experiencia. Hemos inspeccionado más de 35 millones de artículos en nombre de nuestros clientes.</p>
     </div>
   </div>
   <div class="image-with-text">
     <img src="../../../../assets/images/verified-authentic.png" width="90px">
     <div class="text-container">
         <h3>Tecnología avanzada</h3>
         <p>Aprovechamos el aprendizaje automático para evaluar el riesgo del producto y las tecnologías integradas en constante evolución dentro de los productos para mejorar nuestros esfuerzos de verificación.</p>
     </div>
   </div>
   <div class="image-with-text">
     <img src="../../../../assets/images/quality.png" width="90px">
     <div class="text-container">
         <h3>Seguro de calidad</h3>
         <p>Como verificación final en nuestro proceso de verificación, nuestros expertos en control de calidad garantizan que el producto cumpla con nuestros altos estándares.</p>
     </div>
   </div>
 </div>
</section>
