<div class="content-container">
  <div class="content-wrapper">
    <div class="content-text">
      <h1>El mercado cultural actual</h1>
      <p>
        Nuestra misión es brindar acceso a los artículos más codiciados del mundo de la manera más inteligente posible. Compre y venda las mejores zapatillas, indumentaria, productos electrónicos, coleccionables, cromos y accesorios.
      </p>
    </div>
    <img src="../../../../assets/images/info.avif" class="content-image">
  </div>
  <div class="button-container">
    <button [routerLink]="['/es-Es/verificacion']">Verificacion  +++++</button>
  </div>
</div>
<br>
<div class="container-item">
  <div class="item">
    <!-- Contenido para la fila 1 -->
    <img src="https://images-wp.stockx.com/about/uploads/2022/08/sneaker.svg" width="90px">
    <h3>RealG4 Verificado</h3>
    <p>Cada artículo vendido pasa por nuestro proceso de verificación patentado de varios pasos con nuestro equipo de expertos en verificación.</p>
  </div>

  <div class="item">
    <!-- Contenido para la fila 1 -->
    <img src="https://images-wp.stockx.com/about/uploads/2022/08/graph-down.svg" width="90px">
    <h3>Precios transparentes</h3>
    <p>Nuestro mercado en tiempo real funciona igual que el mercado de valores: le permite comprar y vender los artículos más codiciados a su precio real de mercado.</p>
  </div>

  <div class="item">
    <!-- Contenido para la fila 1 -->
    <img src="https://images-wp.stockx.com/about/uploads/2022/08/globe.svg" width="90px">
    <h3>Acceso global</h3>
    <p>Ya sea un prelanzamiento, limitado regionalmente o "agotado", nuestros millones de clientes de más de 200 países le permiten fácilmente Asegure esos artículos codiciados y difíciles de encontrar.</p>
  </div>

  <!-- Repite el mismo patrón para los otros elementos -->

  <div class="item">
    <!-- Contenido para la fila 2 -->
    <img src="https://images-wp.stockx.com/about/uploads/2022/08/no-bs.svg" width="90px">
    <h3>Sin tonterías</h3>
    <p>Sin devoluciones de cargo, sin tomar fotografías, sin escribir descripciones atractivas y sin tratar con compradores o vendedores deshonestos. Nos encargamos de todo para asegurarnos de que pueda comprar y vender con confianza.</p>
  </div>

  <div class="item">
    <!-- Contenido para la fila 2 -->
    <img src="https://images-wp.stockx.com/about/uploads/2022/08/lock.svg" width="90px">
    <h3>Seguro</h3>
    <p>Preservar la integridad de nuestro mercado significa estar un paso por delante. Nuestros sistemas de seguridad y fraude, impulsados ​​por nuestros socios de clase mundial, tienen su información personal cubierta las 24 horas del día, los 7 días de la semana.</p>
  </div>

  <div class="item">
    <!-- Contenido para la fila 2 -->
    <img src="https://images-wp.stockx.com/about/uploads/2022/08/customer-service.svg" width="90px">
    <h3>Aquí para ti</h3>
    <p>Muy pronto se implementara un centro de ayuda, gracias.</p>
  </div>
</div>
